div#container{
   	background: #e9bb7f; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #e9bb7f 0%, #957055 50%, #59403f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e9bb7f), color-stop(50%,#957055), color-stop(100%,#59403f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #e9bb7f 0%,#957055 50%,#59403f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #e9bb7f 0%,#957055 50%,#59403f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #e9bb7f 0%,#957055 50%,#59403f 100%); /* IE10+ */
	background: linear-gradient(135deg,  #e9bb7f 0%,#957055 50%,#59403f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9bb7f', endColorstr='#59403f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
div#player-container{
	margin: auto;
	margin: 20px auto;
	width: 350px;
}

div#player{
	padding: 20px;
	height: 50px;
	width: 220px;
	background-color: white;
	float: left;
	color: #555555;
}
#song-information{
	width: 50%;
	float: left;
	text-align: left;
}
#controls{
	width: 50%;
	float: left;
	text-align: right;
}
div#amplitude-album-art{
	height: 90px;
	width: 90px;
	background-color: black;
	float: left;
}
div#amplitude-album-art img{
	height: 90px;
	width: 90px;
}
#amplitude-play-pause{
    width: 15px;
    height: 17px;
    cursor: pointer;
    float: right;
}
.amplitude-paused{
    background-image: url('../images/small-gray-play.png');
    background-repeat: no-repeat;
}
.amplitude-playing{
    background-image: url('../images/small-gray-pause.png');
    background-repeat: no-repeat;
}
#amplitude-volume-slider{
	width: 100%;
}
#amplitude-now-playing-name{
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
}
#amplitude-now-playing-album{
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
}
#amplitude-current-time{
	font-family: 'PT Sans', sans-serif;
	font-size: 10px;
	font-weight: 400;
}