span.amplitude-current-time{
  display: block;
  text-align: left;
  color: white;
  font-size: 12px;
  font-family: "Avenir", sans-serif;
}

span.amplitude-time-remaining{
  display: block;
  text-align: right;
  color: white;
  font-size: 12px;
  font-family: "Avenir", sans-serif;
}
