body{
  background-color: rgba(0,0,0,.8);
}

div#flat-black-player-container {
  position: relative;
  max-width: 400px;
  margin: auto;
}
div#flat-black-player-container div#list-screen {
  background-color: #141920;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
}
div#flat-black-player-container div#list-screen div#list-screen-header {
  background-color: #141920;
  padding: 15px;
  text-align: center;
  height: 55px;
  position: relative;
  color: white;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
div#flat-black-player-container div#list-screen div#list-screen-header img#up-arrow {
  position: absolute;
  top: 23px;
  left: 15px;
  cursor: pointer;
}
div#flat-black-player-container div#list-screen div#list-screen-header span.list-active-song-name {
  color: #fff;
  line-height: 25px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
}
div#flat-black-player-container div#list-screen div#list {
  overflow-y: scroll;
}
div#flat-black-player-container div#list-screen div#list div.song {
  padding: 15px;
  background-color: #242b33;
  margin-bottom: 1px;
  cursor: pointer;
  line-height: 24px;
}
div#flat-black-player-container div#list-screen div#list div.song span.song-number-now-playing {
  display: inline-block;
  width: 24px;
  text-align: center;
}
div#flat-black-player-container div#list-screen div#list div.song span.song-number-now-playing span.number {
  opacity: 0.5;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
}
div#flat-black-player-container div#list-screen div#list div.song span.song-number-now-playing img.now-playing {
  display: none;
}
div#flat-black-player-container div#list-screen div#list div.song.amplitude-active-song-container {
  background-color: #30363e;
}
div#flat-black-player-container div#list-screen div#list div.song.amplitude-active-song-container span.song-number-now-playing img.now-playing {
  display: inline-block;
}
div#flat-black-player-container div#list-screen div#list div.song.amplitude-active-song-container span.song-number-now-playing span.number {
  display: none;
}
div#flat-black-player-container div#list-screen div#list div.song div.song-meta-container {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  width: calc(100% - 80px);
}
div#flat-black-player-container div#list-screen div#list div.song div.song-meta-container span.song-name {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #55b560;
  letter-spacing: 0.47px;
  display: block;
}
div#flat-black-player-container div#list-screen div#list div.song span.song-duration {
  display: inline-block;
  opacity: 0.5;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  width: 35px;
  text-align: center;
}
div#flat-black-player-container div#list-screen div#list div.song span.song-artist-album {
  color: #5277b0;
}
div#flat-black-player-container div#list-screen div#list div.song div.song-meta-container span.song-artist-album {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  letter-spacing: 0.47px;
  display: block;
}
div#flat-black-player-container div#list-screen div#list-screen-footer {
  height: 80px;
  padding: 15px;
}
div#flat-black-player-container div#list-screen div#list-screen-footer div#list-screen-meta-container {
  width: calc(100% - 123px);
  float: left;
}
div#flat-black-player-container div#list-screen div#list-screen-footer div#list-screen-meta-container span.song-name {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 24px;
}
div#flat-black-player-container div#list-screen div#list-screen-footer div#list-screen-meta-container div.song-artist-album {
  opacity: 0.5;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 16px;
}
div#flat-black-player-container div#list-screen div#list-screen-footer div.list-controls {
  width: 90px;
  float: right;
  margin-top: 8px;
}
div#flat-black-player-container div#list-screen div#list-screen-footer div.list-controls div.list-previous {
  cursor: pointer;
  width: 15px;
  height: 17px;
  background-image: url('../img/small-previous.svg');
  background-repeat: no-repeat;
  float: left;
  margin-right: 15px;
  margin-top: 4px;
}
div#flat-black-player-container div#list-screen div#list-screen-footer div.list-controls div.list-play-pause {
  cursor: pointer;
  width: 17px;
  height: 24px;
  background-repeat: no-repeat;
  float: left;
}
div#flat-black-player-container div#list-screen div#list-screen-footer div.list-controls div.list-play-pause.amplitude-playing {
  background-image: url('../img/small-pause.svg');
}
div#flat-black-player-container div#list-screen div#list-screen-footer div.list-controls div.list-play-pause.amplitude-paused {
  background-image: url('../img/small-play.svg');
}
div#flat-black-player-container div#list-screen div#list-screen-footer div.list-controls div.list-next {
  cursor: pointer;
  width: 15px;
  height: 17px;
  background-image: url('../img/small-next.svg');
  background-repeat: no-repeat;
  float: left;
  margin-left: 15px;
  margin-top: 4px;
}
div#flat-black-player-container div.player-header {
  background-color: #141920;
  padding: 15px;
  text-align: center;
  height: 55px;
  position: relative;
  margin-top: 40px;
  cursor: pointer;
  color: white;
  font-family: "Lato", sans-serif;
}
div#flat-black-player-container div.player-header img#down {
  position: absolute;
  top: 23px;
  left: 15px;
  cursor: pointer;
}
div#flat-black-player-container div#player-top {
  position: relative;
}
div#flat-black-player-container div#player-top img[amplitude-main-song-info="true"] {
  width: 100%;
  height: 370px;
}
div#flat-black-player-container div#player-progress-bar-container {
  width: 100%;
  height: 4px;
  background-color: #000;
  position: relative;
}
div#flat-black-player-container div#player-progress-bar-container progress#song-played-progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  border: none;
  cursor: pointer;
  background: transparent;
}
div#flat-black-player-container div#player-progress-bar-container progress#song-played-progress[value]::-webkit-progress-bar {
  background: none;
}
div#flat-black-player-container div#player-progress-bar-container progress#song-played-progress[value]::-webkit-progress-value {
  background: white;
}
div#flat-black-player-container div#player-progress-bar-container progress#song-played-progress[value]::-moz-progress-bar {
  background: white;
}
div#flat-black-player-container div#player-progress-bar-container progress#song-buffered-progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  border: none;
  background: transparent;
}
div#flat-black-player-container div#player-progress-bar-container progress#song-buffered-progress[value]::-webkit-progress-bar {
  background: none;
}
div#flat-black-player-container div#player-progress-bar-container progress#song-buffered-progress[value]::-webkit-progress-value {
  background-color: rgba(255, 255, 255, .5);
  transition: width 0.1s ease;
}
div#flat-black-player-container div#player-progress-bar-container progress#song-buffered-progress[value]::-moz-progress-bar {
  background: rgba(255, 255, 255, .5);
}
div#flat-black-player-container div#player-middle {
  background-color: #000;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}
div#flat-black-player-container div#player-middle div#time-container {
  color: white;
  width: 100%;
  background-color: #000;
  font-size: 14px;
  font-weight: bold;
}
div#flat-black-player-container div#player-middle div#time-container span.amplitude-duration-time {
  position: absolute;
  top: 0px;
  right: 5px;
}
div#flat-black-player-container div#player-middle div#time-container span.amplitude-current-time {
  position: absolute;
  top: 0px;
  left: 5px;
}
div#flat-black-player-container div#player-middle span.song-name {
  font-family: Lato, sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: block;
}
div#flat-black-player-container div#player-middle div.song-artist-album {
  /* Coldplay - Ghost Sto: */
  opacity: 0.5;
  font-family: Lato, sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 16px;
}
div#flat-black-player-container div#player-bottom {
  background-color: #192029;
  padding-left: 25px;
  padding-right: 25px;
}
div#flat-black-player-container div#player-bottom div#control-container {
  height: 140px;
  padding-top: 40px;
  padding-bottom: 40px;
}
div#flat-black-player-container div#player-bottom div#control-container div#shuffle-container {
  float: left;
  width: 20%;
  height: 60px;
  padding-top: 21px;
}
div#flat-black-player-container div#player-bottom div#control-container div#shuffle-container div#shuffle {
  width: 16px;
  height: 17px;
  cursor: pointer;
  margin: auto;
  opacity: 0.7;
}
div#flat-black-player-container div#player-bottom div#control-container div#shuffle-container div#shuffle.amplitude-shuffle-off {
  background: url('../img/shuffle.svg');
}
div#flat-black-player-container div#player-bottom div#control-container div#shuffle-container div#shuffle.amplitude-shuffle-off:hover {
  background: url('../img/shuffle-on.svg');
  opacity: 0.8;
}
div#flat-black-player-container div#player-bottom div#control-container div#shuffle-container div#shuffle.amplitude-shuffle-on {
  background: url('../img/shuffle-on.svg');
  opacity: 1;
}
div#flat-black-player-container div#player-bottom div#control-container div#shuffle-container div#shuffle.amplitude-shuffle-on:hover {
  opacity: 1;
}
div#flat-black-player-container div#player-bottom div#control-container div#prev-container {
  width: 20%;
  float: left;
  height: 60px;
  padding-top: 18px;
}
div#flat-black-player-container div#player-bottom div#control-container div#prev-container div#previous {
  background: url('../img/previous.svg');
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: auto;
}
div#flat-black-player-container div#player-bottom div#control-container div#prev-container div#previous:hover {
  background: url('../img/previous-hover.svg');
}
div#flat-black-player-container div#player-bottom div#control-container div#play-pause-container {
  width: 20%;
  float: left;
  height: 60px;
}
div#flat-black-player-container div#player-bottom div#control-container div#play-pause-container div#play-pause {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: auto;
}
div#flat-black-player-container div#player-bottom div#control-container div#play-pause-container div#play-pause.amplitude-playing {
  background: url('../img/pause.svg');
}
div#flat-black-player-container div#player-bottom div#control-container div#play-pause-container div#play-pause.amplitude-paused {
  background: url('../img/play.svg');
}
div#flat-black-player-container div#player-bottom div#control-container div#next-container {
  width: 20%;
  float: left;
  height: 60px;
  padding-top: 18px;
}
div#flat-black-player-container div#player-bottom div#control-container div#next-container div#next {
  background: url('../img/next.svg');
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: auto;
}
div#flat-black-player-container div#player-bottom div#control-container div#next-container div#next:hover {
  background: url('../img/next-hover.svg');
}
div#flat-black-player-container div#player-bottom div#control-container div#repeat-container {
  float: left;
  width: 20%;
  height: 60px;
  padding-top: 20px;
}
div#flat-black-player-container div#player-bottom div#control-container div#repeat-container div#repeat {
  background: url('../img/repeat.svg');
  width: 18px;
  height: 20px;
  cursor: pointer;
  margin: auto;
  opacity: 0.7;
}
div#flat-black-player-container div#player-bottom div#control-container div#repeat-container div#repeat:hover {
  background: url('../img/repeat-on.svg');
  opacity: 0.8;
}
div#flat-black-player-container div#player-bottom div#control-container div#repeat-container div#repeat.amplitude-repeat-on {
  background: url('../img/repeat-on.svg');
  opacity: 1;
}
div#flat-black-player-container div#player-bottom div#control-container div#repeat-container div#repeat.amplitude-repeat-on:hover {
  opacity: 1;
}
div#flat-black-player-container div#player-bottom div#control-container::after {
  content: "";
  display: table;
  clear: both;
}
div#flat-black-player-container div#player-bottom div#volume-container {
  padding-bottom: 20px;
  text-align: center;
  /*
   IE 11
   */
}
div#flat-black-player-container div#player-bottom div#volume-container img {
  display: block;
  float: left;
  margin-top: -9px;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider {
  width: calc(100% - 30px);
  -webkit-appearance: none;
  display: block;
  margin-left: 10px;
  float: left;
}
@-moz-document url-prefix() {
  div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider {
    margin-top: 0px;
  }
}
@supports (-ms-ime-align:auto) {
  div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider {
    margin-top: -4px;
    height: 30px;
    background-color: #192029 !important;
  }
}
@media all and (-ms-high-contrast: none) {
  div#flat-black-player-container div#player-bottom div#volume-container *::-ms-backdrop, div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider {
    margin-top: -8px;
    background-color: #192029 !important;
    background: #192029 !important;
  }
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider:focus {
  outline: none;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-webkit-slider-runnable-track {
  width: 75%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #cfd8dc;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  background-color: white;
  cursor: pointer;
  margin-top: -8px;
  -webkit-appearance: none;
  border-radius: 20px;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider:focus::-webkit-slider-runnable-track {
  background: #cfd8dc;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #cfd8dc;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background-color: white;
  cursor: pointer;
  margin-top: -8px;
  -webkit-appearance: none;
  border-radius: 20px;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #cfd8dc;
  border-width: 15px 0;
  color: transparent;
  border-color: #192029;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-fill-lower {
  background: transparent;
  border-radius: 2.6px;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-fill-upper {
  background: transparent;
  border-radius: 2.6px;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-thumb {
  height: 18px;
  width: 18px;
  background-color: white;
  cursor: pointer;
  margin-top: 0px;
  border: 20px;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider:focus::-ms-fill-lower {
  background: #cfd8dc;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-fill-upper {
  background: #cfd8dc;
}
div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-tooltip {
  display: none;
}
div#flat-black-player-container div#player-bottom div#volume-container:after {
  content: "";
  display: table;
  clear: both;
}
