body{
  height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,7db9e8+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  line-height: 1.5;

  div.example-container{
    width: 100%;
    display: flex;

    div.left{
      width: 50%;
    }

    div.right{
      width: 50%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  span.playlist-title{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    width: 100%;
  }
}

@media screen and (max-width: 39.9375em) {
  body{
    div.example-container{
      flex-direction: column;

      div.left{
        width: 100%;
      }
  
      div.right{
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body{
    div.right{
      padding-left: 20px;
    }
  }
}
