body{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(255, 0, 0, .6);
}
div#player{
	height: 180px;
	width: 325px;
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #fafafa 4%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(4%,#fafafa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#fafafa 4%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#fafafa 4%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#fafafa 4%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#fafafa 4%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #efefea;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-box-shadow: 0px 3px 8px 1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 8px 1px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 8px 1px rgba(50, 50, 50, 0.75);
	margin: auto;
	margin-top: 10px;
	padding: 30px 15px;
}

#top-song-information{
	color: #858585;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
#top-controls{
	margin-top: 20px;
}
#bottom-song-information{
	color: #bdbdbd;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
}
#control-container{
	float: left;
	width: 50%;
}
#bottom-controls{
	margin: auto;
	margin-top: 10px;
	width: 223px;
}

#amplitude-current-time{
	text-align: left;
	color: #a1a1a1;
	font-size: 14px;
	width: 50%;
	float: left;
}
#amplitude-song-time-visualization{
	height: 10px;
	border-radius: 5px;
	background-color: #efefea;
	margin-top: 15px;
	margin-bottom: 20px;
}
#amplitude-song-time-visualization-status{
	height: 10px;
	border-radius: 5px;
	background-color: #e74c3c;
}
#amplitude-shuffle{
	width: 17px;
	height: 14px;
	background-image: url('../images/red-shuffle.png');
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
}
#amplitude-shuffle.amplitude-shuffle-on{
	background-image: url('../images/red-shuffle-activated.png');
}
#amplitude-previous{
	width: 61px;
	height: 61px;
	background-image: url('../images/red-prev.png');
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
}
#amplitude-play-pause{
	width: 81px;
	height: 81px;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	margin: 0px 10px;
	margin-top: -10px;
}
.amplitude-paused{
    background-image: url('../images/red-play.png');
    background-repeat: no-repeat;
}
.amplitude-playing{
    background-image: url('../images/red-pause.png');
    background-repeat: no-repeat;
}
#amplitude-next{
	width: 61px;
	height: 61px;
	background-image: url('../images/red-next.png');
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
}