div#black-player{
  width: 100%;
  max-width: 375px;
  background-color: #333333;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
  font-family: "Lato", sans-serif;
  margin: auto;
  margin-right: 50px;
  margin-top: 50px;
}
