div.add-song-button{
  background: #00A0FF;
  box-shadow: 0 1px 0 0 #003DA5;
  border-radius: 4px;
  display: block;
  width: 256px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin: auto;
  margin-top: 20px;
}
