body{
    background-color: #30629a;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 30px 0px;
}
a{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
}
div#single-song-player{
    width: 320px;
    height: 120px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}
div#top{
    padding: 20px 25px;
    background-color: #ffffff;
    width: 270px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div#song-information-container{
    float: left;
}
div#song-action-container{
    float: right;
}
div#bottom-container{
    width: 320px;
    text-align: center;
    margin-top: -35px;
}
div#amplitude-song-time-visualization{
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 320px;
    height: 45px;
}
div#amplitude-song-time-visualization-status{
    background-color: #cddff1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 45px;
}
span#song-timing{
    color: #41557d;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
div.clear{
    clear: both;
}
#amplitude-play-pause{
    width: 30px;
    height: 30px;
    margin-top: 7px;
    cursor: pointer;
}
.amplitude-paused{
    background-image: url('../images/blue-play.png');
    background-repeat: no-repeat;
}
.amplitude-playing{
    background-image: url('../images/blue-pause.png');
    background-repeat: no-repeat;
}
#amplitude-now-playing-artist{
    color: #45587f;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
#amplitude-now-playing-album{
    color: #7b7b7b;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
}
#amplitude-now-playing-title{
    color: #45587f;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
}
