div#visualizations-player {
  width: 325px;
  padding: 25px;
  background-color: #482D57;
  border-radius: 20px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

/*
  Small only
*/
@media screen and (max-width: 39.9375em) {

}

/*
  Medium only
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/*
  Large Only
*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}
