@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: 'Avenir Black';
  src: url('../fonts/AvenirLTStd-Black.otf');
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('../fonts/AvenirLTStd-Roman.otf');
}

html, body{
  background-color: #333;
}

div#pre-load-img-container{
  display: none;
}
