div#single-song-player {
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  margin-top: 50px;
  width: 100%;
  max-width: 460px;
  -webkit-font-smoothing: antialiased;

  img[data-amplitude-song-info="cover_art_url"] {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

/*
  Small only
*/
@media screen and (max-width: 39.9375em) {

}

/*
  Medium only
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/*
  Large Only
*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}
