div.white-player-playlist-controls{
  background-color: #F5F5F6;
  border-radius: 8px;
  padding: 16px;

  img.playlist-album-art{
    float: left;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    height: 64px;
    width: 64px;
  }

  div.playlist-controls{
    float: left;
    margin-left: 25px;
    width: calc( 100% - 89px );

    div.playlist-meta-data{
      display: inline-block;
      width: calc(100% - 125px);
      vertical-align: middle;

      span.song-name{
        display: block;
        color: #414344;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      span.song-artist{
        display: block;
        color: #AAAFB3;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }  
    }
    
    div.playlist-control-wrapper{
      text-align: center;
      margin-top: 10px;
      display: inline-block;
      width: 120px;
      vertical-align: middle;

      div#playlist-previous{
        display: inline-block;
        height: 32px;
        width: 32px;
        cursor: pointer;
        background: url('../img/previous.svg');
        vertical-align: middle;
        background-size: 32px 32px;
      }

      div#playlist-play-pause{
        display: inline-block;
        width: 32px;
        height: 32px;
        cursor: pointer;
        vertical-align: middle;

        &.amplitude-paused{
          background: url('../img/play.svg');
          background-size: 32px 32px;
        }

        &.amplitude-playing{
          background: url('../img/pause.svg');
          background-size: 32px 32px;
        }
      }

      div#playlist-next{
        display: inline-block;
        height: 32px;
        width: 32px;
        cursor: pointer;
        background: url('../img/next.svg');
        vertical-align: middle;
        background-size: 32px 32px;
      }
    }
  }
}

div.white-player-playlist-controls::after{
  content: "";
  display: table;
  clear: both;
}
