div.white-player-top{
  height: 64px;
  display: flex;
  width: 100%;
  align-items: center;

  div{
    flex: 1;

    &.center{
      text-align: center;
    }
  }

  span.now-playing{
    color: #414344;
    font-family: "Lato", sans-serif;
    line-height: 64px;
    font-weight: 600;
  }

  img.show-playlist{
    float: right;
    cursor: pointer;
    margin-right: 10px;
  }
}
