div.white-player-playlist-top{
  height: 64px;
  text-align: center;
  display: flex;

  div{
    flex: 1;

    span.queue{
      color: #414344;
      font-family: "Lato", sans-serif;
      line-height: 64px;
      font-weight: 600;
    }
  
    img.close-playlist{
      margin-right: 16px;
      margin-top: 22px;
      float: right;
      cursor: pointer;
    }
  }
}
