/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: "Arial", sans-serif;
    color: #454545;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table tr td{
    padding: 10px;
    text-align: center;
    width: 100px;
}

h2.break{
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #aaa;
    margin: 10px;
    color: #454545;
}

h3.playlist-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

div.playlist{
    border: 1px solid #eee;
    padding: 10px;
    width: 45%;
    margin: 20px;
}

span.button{
    cursor: pointer;
}

.amplitude-play-pause.amplitude-paused:before{
    content: "Play";
}
.amplitude-play-pause.amplitude-playing:before{
    content: "Pause";
}

.amplitude-mute.amplitude-muted:before{
    content: "Muted";
}
.amplitude-mute.amplitude-not-muted:before{
    content: "Mute";
}

.amplitude-shuffle.amplitude-shuffle-off:before{
    content: 'Shuffle Off';
}
.amplitude-shuffle.amplitude-shuffle-on:before{
    content: 'Shuffle On';
}
.amplitude-repeat.amplitude-repeat-on:before{
    content: 'Repeat On';
}
.amplitude-repeat.amplitude-repeat-off:before{
    content: 'Repeat Off';
}

div.song{
    margin: 10px;
    padding: 5px;
    background-color: #eee;
}

div.amplitude-song-time-visualization{
    height: 5px;
    margin: 5px;
    background-color: blue;
}
div.amplitude-song-time-visualization-status{
    height: 5px;
    background-color: red;
}

div.amplitude-song-container.amplitude-active-song-container{
    background-color: orange !important;
}