div.player-header {
  background-color: #141920;
  padding: 15px;
  text-align: center;
  height: 25px;
  position: relative;
  margin-top: 40px;
  cursor: pointer;
  color: white;
  font-family: "Lato", sans-serif;

  img#down{
    position: absolute;
    top: 23px;
    left: 15px;
    cursor: pointer;
  }
}
