div.control-container{
  margin-top: 10px;
  padding-bottom: 10px;

  div.amplitude-play-pause {
    width: 74px;
    height: 74px;
    cursor: pointer;
    float: left;
    margin-left: 10px;
  }

  div.amplitude-play-pause.amplitude-paused {
    background: url('../img/play.svg');
    background-size: cover;
  }

  div.amplitude-play-pause.amplitude-playing {
    background: url('../img/pause.svg');
    background-size: cover;
  }

  div.meta-container {
    float: left;
    width: calc(100% - 84px);
    text-align: center;
    color: white;
    margin-top: 10px;

    span[data-amplitude-song-info="name"] {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      color: #fff;
      display: block;
    }

    span[data-amplitude-song-info="artist"] {
      font-family: "Open Sans", sans-serif;
      font-weight: 100;
      font-size: 14px;
      color: #fff;
      display: block;
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
  Small only
*/
@media screen and (max-width: 39.9375em) {
  div.control-container {
    div.amplitude-play-pause {
      background-size: cover;
      width: 64px;
      height: 64px;
    }

    div.meta-container {
      width: calc(100% - 74px);
    }
  }
}

/*
  Medium only
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/*
  Large Only
*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}
